<!--<ngb-alert *ngIf="mensaje" type="danger" (close)="mensaje = null">{{ mensaje }}</ngb-alert>-->
<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <!--<h4> usuarios de pruebas</h4>

      <p>usuario: 87654321 || contraseña: empleado</p>
      <br>
      <p>usuario: 12345678 || contraseña: administrador</p>-->
      <form [formGroup]="form" (ngSubmit)="LoginUser()">
        <h1> Login</h1>
        <mat-form-field class="full-width-input">
          <input matInput type="number" placeholder="Usuario" formControlName="usuario">
          <mat-error *ngIf="isFieldInvalid('usuario')">
            Ingrese su DNI
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Contraseña" formControlName="password">
          <mat-error *ngIf="isFieldInvalid('password')">
            Ingrese su contraseña
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
