<mat-dialog-content>
  <form [formGroup]="form">

    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="nombre" placeholder="Nombre">
      <mat-error *ngIf="isFieldInvalid('nombre')">
        Ingrese un nombre
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="descripcion" placeholder="Descripcion">
      <mat-error *ngIf="isFieldInvalid('descripcion')">
        Ingrese el precio
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="text" formControlName="lote" placeholder="Lote">
      <mat-error *ngIf="isFieldInvalid('lote')">
        Ingrese una cantidad
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" formControlName="cantidad" placeholder="Cantidad">
      <mat-error *ngIf="isFieldInvalid('cantidad')">
        Ingrese una cantidad
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput type="number" formControlName="precio" placeholder="Precio">
      <mat-error *ngIf="isFieldInvalid('precio')">
        Ingrese el precio
      </mat-error>
    </mat-form-field>

    <div class="d-flex justify-content-center">
      <button class="text-white" mat-button color="primary" (click)="Cerrar()">Aceptar</button>
    </div>
  </form>
</mat-dialog-content>
